@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
}

body {
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    /* background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%); */
    /* background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%); */
    
    /* min-height: 150vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: hidden; */
    justify-content: center;
    /* background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */

}

.navbar {
    /* height: 100px; */
    display: flex;
    justify-content: center;
    transform: translateY(50px);
    /* position: static; */
}

.center-redirect {
    text-decoration: none;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.center-redirect1 {
    text-decoration: none;
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.center-redirect:hover, .left-redirect:hover, .right-redirect:hover {
    color: rgb(109, 109, 109)
}

.gallery-header {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 40px;
    width: 100%;
    justify-self: center;
    text-align: center;
    padding: 15px 0;
    margin-top: 65px;
}

hr {
    width: 50vw;
    height: 1px;
    color: black;
    background-color: black;
    border-radius: 15px; 
}

/* .images {
    list-style: none;
} */

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    list-style: none;
    /* margin-top: 50px; */
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.image {
    width: 100%; /* Adjust the width of the images as needed */
    height: 200px; /* Adjust the height of the images as needed */
    border-color: black;
    border-width: 5px;
    border: black;
    object-fit: cover;
    outline: 2px solid rgba(0, 0, 0, 0.308);
    box-shadow: 0 0 4px 0 black;
    border-radius: 2px;
    cursor: pointer;
}

.image:hover {
    box-shadow: 0 0 8px 0 black;
}
/* 
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .fullscreen img {
    max-width: 100%;
    max-height: 100%;
  } */

  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    
  }
  
  .modal-content {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
  }

.prev,
.next {
  color: #fff;
  position: absolute;
  top: 50%;
  font-size: 40px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.contact-button {
    cursor: pointer;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(31, 120, 253);
    color: white;
    border: none;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 4px 0 black;
    transition: 0.1s ease-in;
    /* transform: translateY(75px) translateX(850px); */
    margin-bottom: 50px;
}

.contact-button:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.527);
}


.sub5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(25px);
}

.close {
    display: none;
}

.display-selector {
    margin: 25px;
    font-size: 25px;
    /* background-color: rgb(231, 231, 231); */
    width: 300px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
}

.dropdown {
    /* width: 107.5px;
    height: 32.5px; */
    text-align: left;
    font-size: 20px;
    /* transform: translateX(15px); */
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.692);
    text-align: center;
}

.dropdown::selection {
    border: none;
}
  
  

@media screen and (max-width: 500px) {
    .images {
        /* width: 100vw; */
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        list-style: none;
        /* margin-top: 30px; */
        align-items: center;
        justify-content: center;
        transform: translateX(-20px);
    }
    .image {
        margin-top: 0px;
    }
    .close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
      }

.prev,
.next {
  color: #fff;
  position: absolute;
  top: 80%;
  font-size: 60px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.prev {
    left: 75px;
}
  
.next {
    right: 75px;
}
.sub5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateX(5px);
}

}

/* .image {
    scale: 25%;
} */