@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*{
    font-family: 'Poppins', sans-serif;
    margin: 0 0;
    /* position: relative; */
}

body {
    background-color: rgba(110, 110, 110, 0.315);
    background-image: url("house.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

.navbar {
    /* position: static; */
    height: 100px;
    /* background: linear-gradient(to right, #272727, #353535); */
    /* background: linear-gradient(90deg, rgb(61, 61, 61) 21%, rgb(32, 32, 32) 100%); */
}

.ul {
    list-style: none; /* Remove the bullet points from the list */
    margin: 0; /* Remove any default margin from the list */
    padding: 0; /* Remove any default padding from the list */
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 60px; /* Set the height of the nav bar */
}

a {
    color: white; /* Set the color of the link */
    text-decoration: none; /* Remove the underline from the link */
    text-align: center; /* Center the text horizontally */
    line-height: 100px; /* Center the text vertically */
    padding: 0 0px;
}

li {
    /* margin: 0 100px; Add some margin between each list item */
}

.center-redirect, .left-redirect, .right-redirect {
    white-space: nowrap;
    font-size: 25px;
    font-weight: 400;
    padding: 0 15px;
    height: 100%;
    width: 33.3333%;
}

.center-redirect {
    font-size: 50px;
}
.left-redirect, .right-redirect {
    line-height: 115px;
}

.menu-bar {
    cursor: pointer;
    font-size: 30px;
    color: black;
    text-decoration: none; /* Remove the underline from the link */
}

.sub1 {
    width: 100%;
    transform: translateY(91vh);
    height: 300px;
    background-color: white;

    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center; */
}

.block1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    padding: 50px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.block1-header {
    /* width: 50%; */
    font-size: 50px;
    transform: translateY(50%);
}
.block1-paragraph {
    text-align: center;
    width: 500px;
    transform: translateY(45%);
}

.sub2 {
    width: 100%;
    transform: translateY(91vh);
    height: 300px;
    background-color: rgb(248, 248, 248);
}

.block2-header {
    font-size: 50px;
    width: 100%;
    text-align: center;
    line-height: 300px;
}

.block2-text {
    font-size: 50px;
    width: 100%;
    text-align: center;
    line-height: 300px;
}

.sub3 {
    background-color: white;
    width: 100%;
    transform: translateY(91vh);
    height: 550px;
}

.block3-header {
    font-size: 50px;
    width: 100%;
    text-align: center;
    line-height: 250px;
}

.block3-list {
    transform: translateY(-50px);
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.sub4 {
    background-color: rgb(248, 248, 248);
    width: 100%;
    transform: translateY(91vh);
    height: 300px;
}

.block4-header {
    transform: translateY(75px);
    font-size: 50px;
    width: 100%;
    text-align: center;
    /* line-height: 300px; */
}
.block4-list {
    width: 100%;

    text-align: center;
}

.sub5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    transform: translateY(91vh);
    height: 250px;
}

.block5-header {
    transform: translateY(25px);
    font-size: 35px;
    width: 100%;
    text-align: center;
}

.contact-button {
    cursor: pointer;
    width: 250px;
    height: 85px;
    border-radius: 15px;
    background-color: rgb(31, 120, 253);
    color: white;
    border: none;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 0 0 4px 0 black;
    /* transform: translateY(75px) translateX(850px); */
}

/* @media screen and (max-width: 500px) {
    body {
        background-image: url("house mobile.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        overflow: scroll;
    }
} */


